<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.homeworkmanagement.dao.ManagementLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.java.homeworkmanagement.pojo.OperationLogPO">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="operation_type" property="operationType"/>
        <result column="operation_result" property="operationResult"/>
        <result column="operation_describe" property="operationDescribe"/>
    </resultMap>

</mapper>
