<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.homeworkmanagement.dao.ManagementLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.java.homeworkmanagement.pojo.ManagementLogPO">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="status" property="status" />
        <result column="log_describe" property="logDescribe" />
    </resultMap>

</mapper>
