<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.homeworkmanagement.dao.StudentTaskAnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.java.homeworkmanagement.pojo.StudentTaskAnswerPO">
        <id column="id" property="id" />
        <result column="subject" property="subject" />
        <result column="task_id" property="taskId" />
        <result column="student_id" property="studentId" />
        <result column="task_title" property="taskTitle" />
        <result column="single_choice_task" property="singleChoiceTask" />
        <result column="single_choice_answer" property="singleChoiceAnswer" />
        <result column="multiple_choice_task" property="multipleChoiceTask" />
        <result column="multiple_choice_answer" property="multipleChoiceAnswer" />
        <result column="blanks_task" property="blanksTask" />
        <result column="blanks_task_answer" property="blanksTaskAnswer" />
        <result column="task_content" property="taskContent" />
        <result column="score" property="score" />
        <result column="submit_time" property="submitTime" />
    </resultMap>

</mapper>
